@model Tp2_BaseDonnes.ViewModels.DescriptionViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipe.NomEquipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipe.NomEquipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipe.Pays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipe.Pays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipe.CouleurMasQue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipe.CouleurMasQue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.equipe.DateFondation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.equipe.DateFondation)
        </dd>

    </dl>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>MatchId</th>
                <th>Heure</th>
                <th>Date</th>
                <th>Duree</th>
                <th>Gagnant</th>
                <th>Perdant</th>
                <th>EquipeId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Match1)
            {
                <tr>
                    <td>@m.MatchId</td>
                    <td>@m.Heure</td>
                    <td>@m.Date</td>
                    <td>@m.Duree</td>
                    <td>@m.Gagnant</td>
                    <td>@m.Perdant</td>
                    <td>@m.EquipeId</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.equipe.EquipeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
