@model Tp2_BaseDonnes.Models.Equipe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomEquipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomEquipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouleurMasQue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouleurMasQue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFondation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFondation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EquipeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
